.error {
	background: lightsalmon;
	padding: 10px;
	border-radius: 4px;
	border: 1px solid tomato;
}
.margin {
	margin-bottom: 5em;
}
.panel-margin {
	margin-bottom: 5px;
}
.new {
	background-color: white;
}

.indent {
	text-align: left;
}
.foter {
	display: block;
	font-size: 80%;
}
