img {
  width: 5em;
}
.navbar {
  padding: 0px;
}

.name {
  font-size: 1rem;
  position: relative;
  width: 100%;
  left: 0;
  text-align: center;
  margin: 0 auto;
}
span {
  color: white;
}
i {
  margin-right: 4px;
}

.navbar-brand {
  margin-left: 10px;
}
